@keyframes set-fire-animation {
    0% {
        background: radial-gradient( circle, rgb(255, 81, 0) 0%,
        rgb(249,255, 0, 0.5) 20%,
        rgba(249,255,0,0) 40%,
        rgba(249,255,0,0) 50%,
        rgba(249,255,0,0) 60%,
        rgba(249,255,0,0) 70%,
        rgba(249,255,0,0) 80%,
        rgba(249,255,0,0) 90%);
    }
    20%{
        background: radial-gradient( circle, rgb(255, 81, 0) 0%,
        rgb(249,255, 0) 20%,
        rgba(249,255,0,1) 40%,
        rgba(249,255,0,0) 50%,
        rgba(249,255,0,0) 60%,
        rgba(249,255,0,0) 70%,
        rgba(249,255,0,0) 80%,
        rgba(249,255,0,0) 90%);
    }
    50%{
        background: radial-gradient( circle, rgb(255, 81, 0) 0%,
        rgb(249,255, 0) 20%,
        rgba(249,255,0,1) 40%,
        rgba(249,255,0,0.9) 50%,
        rgba(249,255,0,0.6) 60%,
        rgba(249,255,0,0) 70%,
        rgba(249,255,0,0) 80%,
        rgba(249,255,0,0) 90%);
    }
    80%{
        background: radial-gradient( circle, rgb(255, 81, 0) 0%,
        rgb(255, 115, 0) 20%,
        rgba(249,255,0,1) 40%,
        rgba(249,255,0,0.9) 50%,
        rgba(249,255,0,0.6) 60%,
        rgba(249,255,0,0.4) 70%,
        rgba(249,255,0,0) 80%,
        rgba(249,255,0,0) 90%);
    }
    100% {
        background: radial-gradient( circle, rgb(255, 81, 0) 0%,
        rgb(255, 115, 0) 20%,
        rgba(249,255,0,1) 40%,
        rgba(249,255,0,0.9) 50%,
        rgba(249,255,0,0.6) 60%,
        rgba(249,255,0,0.4) 70%,
        rgba(249,255,0,0.2) 80%,
        rgba(249,255,0,0.1) 90%);
    }
}

.optionsMenu-bonfire-logo{
    width: 40px;
}

.optionsMenu-bonfire-on,
.optionsMenu-bonfire-off{
    margin-top: 15px;
    border-radius: 50%;
    filter: grayscale(30%);
    cursor: pointer;
    margin-top: 0px;
}

.optionsMenu-bonfire-on{
    background: radial-gradient( circle, rgb(255, 81, 0) 0%,
    rgb(255, 115, 0) 20%,
    rgba(249,255,0,1) 40%,
    rgba(249,255,0,0.9) 50%,
    rgba(249,255,0,0.6) 60%,
    rgba(249,255,0,0.4) 70%,
    rgba(249,255,0,0.2) 80%,
    rgba(249,255,0,0.1) 90%);   
    animation: set-fire-animation ease 0.65s;
}