.footer-container{
    box-shadow: -1px -1px 25px var(--palette-interface-grayDark);
    padding: 30px 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.footer-container-dark{
    box-shadow: -1px -1px 25px var(--palette-interface-orange);
    background-color: var(--palette-interface-orange);
}

.footer-git-logo{
    width: 25px;
}

.footer-link{
    text-decoration: none;
    color: var(--palette-interface-black);
}