.footer-container,
.footer-container-dark{
    padding: 30px 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    box-shadow: -1px -1px 25px var(--palette-interface-black);
}

.footer-container-dark{
    box-shadow: -1px -1px 25px var(--palette-interface-orange);
    background-color: var(--palette-interface-orange);
}

#footer-container img{
    width: 25px;
}

#footer-container a{
    text-decoration: none;
    color: var(--palette-interface-black);
}