.aboutMe-container{
    display: flex;
    flex-direction: row;
}

.aboutMe-cv-button{
    width: 200px;
    padding: 15px;
    background-color: var(--palette-interface-orange);
    color: var(--palette-interface-black);
    font-weight: 600;
    border: none;
    border-radius: 25px;
    box-shadow: 1px 1px 10px var(--palette-interface-black);
}

.aboutMe-cv-button-dark{
    box-shadow: 1px 1px 10px black;
}

.aboutMe-info{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
}

.aboutMe-text-dark{
    color: var(--palette-interface-orange)
}

.aboutMe-title{
    writing-mode: vertical-rl;
    word-spacing: -15px;
    text-orientation: upright;
    color: var(--palette-interface-orange);
    text-shadow: -1px 1px 2px var(--palette-interface-black);
}

.aboutMe-title-dark{
    text-shadow: -1px 1px 2px black;
}