.navbar-button-options{
    width: 25px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid var(--palette-interface-orange);
    background-color: var(--palette-interface-orange);
    text-align: center;
}

.navbar-header-container{
    
    position: fixed;
    z-index: 100;
    width: 100%;
    border-top-left-radius: inherit;

    display: flex;
    align-items: center;
    height: 20px;
    padding: 20px;
    color: var(--palette-grayblue-lighter);
    background-color: var(--palette-interface-gray);
    box-shadow: 0px 0px 25px var(--palette-interface-gray);
    margin-bottom: 50px;
}

.navbar-header-container-dark{
    background-color: var(--palette-interface-black);
    box-shadow: 0px 0px 25px var(--palette-interface-black);
}

.navbar-laptop-options{
    display: none;
}

.navbar-link{
    color: var(--palette-interface-white);
    text-decoration: none;
}

@media (min-width: 744px) {
    
    .navbar-laptop-options{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

}