#history{
    display: flex;
    flex-direction: column;
}

#history > * > * > h3 {
    text-decoration: underline 3px var(--palette-interface-orange);
}

.history-studies-article{
    text-align: right;
    width: 80%;
    margin-left: 20%;
}

.history-work-article{
    text-align: left;
    width: 80%;
}