.stack-list-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-self: center;
    align-self: center;

    border: 1px solid var(--palette-interface-black);
    border-radius:  0 25px 25px 25px;
    padding: 20px;
}

.stack-list-container-dark{
    border: 1px solid var(--palette-interface-orange);
}

.stackItem-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stackItem-img-container{
    padding: 20px;
}

.stackItem-img{
    width: 50px;
    filter: grayscale(75%);
}

.stackItem-link{
    text-decoration: none;
    color: var(--palette-interface-black);
}

.stack-list-title{
    margin-bottom: -10px;
    margin-left: 10px;
    background-color: var(--palette-interface-white);
    position: relative;
    width: max-content;
}

.stack-list-title-dark{
    color: var(--palette-interface-orange);
    background-color: var(--palette-interface-black);
}