.header-container{
    position: relative;
    display: flex;
}

.header-container img{
    margin-top: 60px;
    width: 100%;
    filter: brightness(25%) grayscale(100%);
}

.header-container h1{
    color: var(--palette-interface-white); 
    margin-top: 70px;
    font-size:30px;
    text-shadow: 5px 5px 5px var(--palette-interface-black);
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid;
    width: 12ch;
    animation: typing 2s steps(12),
    blink .5s infinite step-end alternate;
    overflow: hidden;
}

.header-container div{
    position:absolute; 
    display:flex; 
    top:0; 
    left:0; 
    width:100%; 
    height:100%; 
    justify-content:center; 
    align-items:center;
}

@media (min-width: 744px) {
    .header-container h1{
        font-size:40px;
    }
}