.modal-card{
    width: 300px;
    padding: 15px;
    background-color: var(--palette-grayblue-lighter);
    border-radius: 10px;
    border: 5px solid var(--palette-grayblue-light);
}

.modal-close{
    position: relative;
    left: 94%;

    background-color: inherit;
    border: none;
}

.modal-container{
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    background-color: rgba(0,0,0,0.75);
    display: flex;
    justify-content: center;
    align-items: center;
}