:root {
    --palette-grayblue-darker : #182c3f;
    --palette-grayblue-dark : #2B4F71;
    --palette-grayblue-meduim : #657A97;
    --palette-grayblue-light : #C9CFDF;
    --palette-grayblue-lighter : #E9EDF8;

    --palette-message-error: #990000;
}

@keyframes zoom-out-animation {
    100% {
        left: 0;
        width: 100%;
        top: 0;
        height: 100%;
        zoom: 100%;
    }
    0% {
        left: 50%;
        width: 50%;
        top: 100px;
        height: 100vh;
        zoom: 75%;
    }
}

@keyframes zoom-in-animation {
    0% {
        left: 0;
        width: 100%;
        top: 0;
        height: 100%;
        border-radius: 20px 0 0 20px ;
        overflow: hidden;
    }
    100% {
        left: 50%;
        width: 50%;
        top: 100px;
        height: 100vh;
        border-radius: 20px 0 0 20px ;
        overflow: hidden;
    }
}

html, body {
    font-family: 'Convergence', sans-serif;
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
}

textarea{
    resize: none;
}

input,
textarea{
    border: 2px solid var(--palette-grayblue-dark);
    border-radius: 5px;
    color: var(--palette-grayblue-darker);
    padding: 5px;
}

.app-button{
    padding: 15px;
    width: 100px;
    background-color: var(--palette-grayblue-darker);
    color: var(--palette-grayblue-lighter);
    font-weight: 600;
    border: none;
    border-radius: 25px;
    box-shadow: 1px 1px 10px black;
}

.section-container{
    background-color: var(--palette-grayblue-lighter );
    padding: 75px 20px 75px 20px;
}