.optionsMenu-container-dark,
.optionsMenu-container{
    background-color: var(--palette-interface-gray);
    min-height: 100vh;
    width: 100%;
    position: absolute;
    z-index: -10;
    display: flex;
    flex-direction: row;
}

.optionsMenu-container-dark{
    background-color: var(--palette-interface-grayDark);
}

.optionsMenu-links a{
    width: 125px;
    padding: 7.5px;
    margin-bottom: 15px;
    text-decoration: underline 3px var(--palette-interface-orange);
    font-weight: 1000;
    color: var(--palette-interface-black);
}

.optionsMenu-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    width: 50%;
}