.proyect-container{
    display: flex;
    flex-direction: column;
}

.proyect-image-container{
    width: 350px;
    border: 1px solid var(--palette-interface-black);
    box-shadow: 10px 10px var(--palette-interface-black);
    margin-bottom: 40px;
    background-color: var(--palette-interface-gray);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.proyect-image-container-dark{
    border: 1px solid var(--palette-interface-orange);
    box-shadow: 10px 10px var(--palette-interface-orangeDark);
}

.proyect-link{
    text-decoration: none;
    color: var(--palette-interface-black);
}

.proyect-img{
    width: 100%;
    max-width: 350px;
    filter: grayscale(75%);
}

.proyects-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.proyect-modal-images{
    overflow-y:scroll
}

@media (min-width: 744px){
    .proyect-container{
        flex-direction: row;
        gap: 25px;
        align-items: center;
        margin-bottom: 25px;
    }
}











.slider {
    position: relative;
    width: 500px;
    height: 400px;
    overflow: hidden;
  }
  .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  .slide:first-child {
    opacity: 1;
  }
  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }