.proyect-container{
    width: 300px;
    border: 1px solid black;
    box-shadow: 1px 1px 2px black;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.proyect-container-dark{
    border: 1px solid var(--palette-interface-orange);
    box-shadow: 1px 1px 2px var(--palette-interface-orange);
}

.proyect-link{
    text-decoration: none;
    color: black;
}

.proyect-img{
    width: 100%;
    filter: grayscale(75%);
}

.proyects-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}