.proyect-container{
    width: 300px;
    border: 1px solid var(--palette-interface-black);
    box-shadow: 10px 10px var(--palette-interface-black);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.proyect-container-dark{
    border: 1px solid var(--palette-interface-orange);
    box-shadow: 10px 10px var(--palette-interface-orangeDark);
}

.proyect-link{
    text-decoration: none;
    color: var(--palette-interface-black);
}

.proyect-img{
    width: 100%;
    filter: grayscale(75%);
}

.proyects-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}