.proyect-container{
    width: 300px;
    border: 1px solid black;
    box-shadow: 1px 1px 2px black;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.proyect-link{
    text-decoration: none;
    color: black;
}

.proyect-img{
    width: 100%;
}